*{
    margin: 0;
}

.stop-watch-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    height: 200px;
    background-color: rgb(204, 201, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}
.inputs{
    width: 170px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.inputs input{
    width: 80px;
    height: 25px;
    border: none;
}
.timmer-container{
    width: 140px;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.timmer-container .display-minutes,
.timmer-container .display-seconds {
    width: 50px;
    background-color: #ffe5ec;
    border: 1px solid #ffe5ec;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
.pause-stop{
    width: 170px;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#pause,
#stop{
    background-color: #21D19F;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.start-container{
    height: 50px;
}
#start{
    background-color: #21D19F;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}